.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  section {
    margin: 20px 50px;
    position: relative;
  }
  
  h2, 
  h3 {
    position: absolute;
  }
  
  h2 {
    background: white;
    bottom: 15%;
  }
  
  h3 {
    transform: rotate(-90deg);
    width: 100%;
    top: 35px;
    right: 55%;
  }
  
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  @media (max-width: 640px) {
    h2, h3 {
      position: inherit;
      text-align: center;
    }
  
    h2 {
      bottom: 0;
    }
  
    h3 {
      transform: rotate(0);
      top: 0;
      right: 0;
    }
  } 